:root {
  --white: #fff;
  --black: #000;
  --gray-950: #2f2f2f;
  --gray-800: #444;
  --gray-500: #7a7a7a;
  --gra-400: #929292;
  --gray-300: #b1b1b1;
  --gray-200: #d9d9d9;
  --gray-50: #fafafa;
  --green-700: #147173;
  --green-400: #3cb3ab;
  --green-50: #f3f8f8;
  --gradient-1: linear-gradient(180deg, #fff, #000);
}
